SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rabi.digicarehouse@gmail.com
SMTP_PASS=yzdwzauvjkrhkcze
SMTP_TO=muhammad.rabi693@gmail.com

RECAPTCHA_SECRET_KEY=6Leow5osAAAAABGE4W8EqRT_xQ76ryyUkNsvl_sd
VITE_RECAPTCHA_SITE_KEY=6Leow5osAAAAAP__Oe-TEliQDOP3lhXdxKSIJVjf
VITE_API_BASE_URL=http://localhost:5001
VITE_DESIGN_PAGE_URL=https://design-landing-page-six.vercel.app/
VITE_AI_PAGE_URL=https://ai-automation-landing-page-sigma.vercel.app/
